<div class="tablet-mode">
  <div *ngIf="this.task.todo == true">
    <h1 mat-dialog-title>Push Task to "In Progress"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "in progress"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-flat-button mat-dialog-close>Cancel</button>
      <button class="btn-design" mat-button mat-flat-button color="primary" *ngIf="this.task.todo == true"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, true, false, false, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon class="me-2">arrow_forward</mat-icon>Set to in Progress
      </button>
    </div>
  </div>

  <div *ngIf="this.task.inProgress == true">
    <h1 mat-dialog-title>Push Task to "Awaiting Feedback"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "Awaiting Feedback"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-flat-button mat-dialog-close>Cancel</button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, false, true, false, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon class="me-2">arrow_forward</mat-icon>Set to Awaiting Feedback
      </button>
    </div>
  </div>

  <div *ngIf="this.task.awaitingFeedback == true">
    <h1 mat-dialog-title>Push Task to "Done"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "Done"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-button mat-dialog-close>Cancel</button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, false, false, true, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon class="me-2">arrow_forward</mat-icon>Set to Done
      </button>
    </div>
  </div>

  <div *ngIf="this.task.done == true">
    <h1 mat-dialog-title>Push Task to "History"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "History"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-button mat-dialog-close>Cancel</button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, false, false, false, true)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon class="me-2">arrow_forward</mat-icon>Set to History
      </button>
    </div>
  </div>

  <div *ngIf="this.task.history == true">
    <h1 mat-dialog-title>Push Task to "Board"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "Board"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-button mat-dialog-close>Cancel</button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, true, false, false, false, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon class="me-2">arrow_forward</mat-icon>Set to Board
      </button>
    </div>
  </div>
</div>


<div class="mobile-mode">
  <div *ngIf="this.task.todo == true">
    <h1 mat-dialog-title>Push Task to "In Progress"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "in progress"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-flat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <button class="btn-design" mat-button mat-flat-button color="primary" *ngIf="this.task.todo == true"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, true, false, false, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="this.task.inProgress == true">
    <h1 mat-dialog-title>Push Task to "Awaiting Feedback"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "Awaiting Feedback"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-flat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, false, true, false, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="this.task.awaitingFeedback == true">
    <h1 mat-dialog-title>Push Task to "Done"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "Done"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-flat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, false, false, true, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="this.task.done == true">
    <h1 mat-dialog-title>Push Task to "History"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "History"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-flat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, false, false, false, false, true)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="this.task.history == true">
    <h1 mat-dialog-title>Push Task to "Board"</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to set the task to "Board"?</p>
    </div>
    <div class="justify-content-between" mat-dialog-actions>
      <button mat-button mat-flat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <button class="btn-design" mat-button mat-flat-button color="primary"
        (click)="firebaseService.PushTask(this.taskId, this.task, true, false, false, false, false)"
        [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
