$colorDark: rgb(42, 54, 71);
$colorLight: rgb(41, 171, 226);

.loading-position {
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $colorDark  !important;
  }

}

.top-container {
  margin: 0;
  margin-top: -14px;

  .headline {
    padding-left: 0;
  }

  .input-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

mat-card {
  padding: 0;

  .headline-container {
    margin-right: 0px;
    padding: 16px 16px;
    margin-left: 0;

    span {
      font-size: 18px;
      font-weight: bold;
      color: lightgray;
    }
  }

  .ticket-content-container {
    width: 100%;
    height: 100%;

    .ticket-content-container-child {
      background-color: transparent;
      transition: all 225ms ease-in-out;
      padding: 16px 16px;
      margin-left: 0;
      margin-right: 0;

      &:hover {
        background-color: lightgray;
        transition: all 225ms ease-in-out;
        cursor: pointer;
      }
    }

  }
}

.mobile-headline-design {
  font-weight: bold;
  max-width: 125px;
}

.text-center {
  text-align: center;
}


@media(min-width: 1136px) {
  .mobile-design-mode {
    display: none;
  }
}

@media(max-width: 1135px) {

  .top-container {
    text-align: center !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .input-container {
    justify-content: center;
  }

  .cut {
    display: none;
  }

  .mobile-design-mode {
    display: unset;
  }

  .table-design-mode {
    display: none;
  }

}

/* @media(min-width: 769px) {
  .mobile-design-mode {
    display: none;
  }
} */


@media(max-width: 768px) {
  .mobile-design-mode {
    display: unset;
  }

  .table-design-mode {
    display: none;
  }

  .ticket-content-container {
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
  }
}

@media(max-width: 375px) {
  .ticket-content-container {
    width: 200px;
  }
}
