<div class="table-design-mode">
  <div class="border-bottom headline">
    <h1>Daily Events</h1>
  </div>
  <div class="mt-2rem ticket-container">
    <div class="row headline-container border-bottom pb-3">
      <span class="col">Title</span>
      <span class="col">From</span>
      <span class="col">Until</span>
    </div>
    <div class="ticket-content-container">
      <div *ngFor="let event of calendarEvent">
        <div class="row py-3 border-bottom ticket-content-container-child">
          <span class="col">{{event.title}}</span>
          <span class="col">{{event.start | date:'MMMM d, y'}}</span>
          <span class="col">{{event.end | date:'MMMM d, y'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-design-mode">
  <div class="border-bottom headline">
    <h1>Daily Events</h1>
  </div>
  <div class="ticket-container">
    <div class="ticket-content-container">
      <div *ngFor="let event of calendarEvent">
        <div class="row py-3 border-bottom ticket-content-container-child">
          <div class="my-2 d-flex flex-column align-items-center">
            <span class="mobile-headline-design">Title:</span>
            <span class="mobile-content-design">{{event.title}}</span>
          </div>
          <div class="my-2 d-flex flex-column align-items-center">
            <span class="mobile-headline-design">From:</span>
            <span class="mobile-content-design">{{event.start | date:'MMMM d, y'}}</span>
          </div>
          <div class="my-2 d-flex flex-column align-items-center">
            <span class="mobile-headline-design">Until:</span>
            <span class="mobile-content-design">{{event.end | date:'MMMM d, y'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
