<div class="sign-in-flex">
  <div class="sign-in-container">
    <h1 class="my-2">Password reset</h1>
    <span class="my-4">Don't worry! We will send you an email with the instructions to reset your password.</span>

    <form class="form-class" action="">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" #passwordResetEmail matInput [formControl]="emailFormControl" placeholder="Email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div routerLink="/sign-in" class="d-flex justify-content-center">
        <h3>Go back to Log in?</h3>
      </div>

      <div class="d-flex justify-content-center">
        <button (click)="authService.ForgotPassword(passwordResetEmail.value)" type="submit" class="submit-btn-design"
          mat-flat-button color="primary">Send email</button>
      </div>
    </form>
  </div>
</div>
