<form #myForm="ngForm" action="" class="form-container">

  <div class="d-flex justify-content-center mb-2">
    <mat-form-field class=" full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" name="Username" [(ngModel)]="username" matInput matInput placeholder="Enter your Username"
        pattern="[a-zA-Z- ]*" required>
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center">
    <mat-form-field class=" full-width" appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" name="email" [(ngModel)]="email" matInput
        matInput placeholder="Enter your E-mail" required>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        This field is <strong>required</strong> and only allowed a valid email address.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-dialog-actions class="d-flex justify-content-between mobile">
    <button mat-flat-button mat-button mat-dialog-close>
      <mat-icon class="me-2">close</mat-icon>Close
    </button>
    <button mat-flat-button color="primary" [mat-dialog-close]="myForm" [disabled]="!myForm.valid"
      (click)="authService.updateUser(username, email)" type="submit" class="submit-btn-design">
      <mat-icon class="me-2">sync_alt</mat-icon>Update Profil
    </button>
  </mat-dialog-actions>

</form>
