<div *ngIf="authService.userData as user" class="row d-flex align-items-center top-container">
  <h1 class="col-md-auto">Support</h1>
  <h1 class="col-md-auto color cut">|</h1>
  <div *ngIf="loading" class="d-flex col align-items-center mobile">
    <h2 class="col-md-auto">Ticket No. {{ticket.no}}</h2>
    <div *ngFor="let currentUser of allUsers$ | async">
      <button *ngIf="user.uid == currentUser['userId'] && currentUser['admin']" [matMenuTriggerFor]="ticketOptions"
        matTooltip="Ticket options" class="col-md-auto mb-2 ms-3" mat-mini-fab color="warn"
        aria-label="Example icon button with a filter list icon">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #ticketOptions="matMenu">
        <button (click)="assignToAdmin(user.displayName)" mat-menu-item>Assign to
          me</button>
        <button class="isAdmin" (click)="firebaseService.deleteTicket(ticketId)" mat-menu-item>Close ticket</button>
      </mat-menu>
    </div>
  </div>
</div>

<div class="loading-position" *ngIf="!loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="loading" class="row main-content">
  <div class="mt-5 chat-container">

    <div class="col info border-bottom">
      <h3>Ticket was created by <strong>{{ticket.from}}</strong></h3>
      <h3>Assigned to <strong class="isAdmin me-3">{{ticket.assignTo}}</strong></h3>
    </div>

    <div #scrollMe class="col all-message-container">
      <div *ngFor="let message of ticket.messages">
        <div class="mb-2 text-message mx-3">
          <h3> <strong class="color">{{message.from}}</strong> | {{message.date | date: 'M/d/yy, h:mm a'}}</h3>
          <span>{{message.message}}</span>
        </div>
      </div>
    </div>

    <form #myForm="ngForm" action="">
      <div *ngIf="authService.userData as user">
        <div class="chat-message-container d-flex align-items-end">
          <textarea required type="text" name="description" [(ngModel)]="newMessage" pattern="[a-zA-Z0-9-.,+?!
          ]*" matInput></textarea>
          <div class="btn-design">
            <button [disabled]="myForm.invalid" (click)="newMessages(user.displayName, newMessage)" mat-icon-button
              color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
