<div class="form-container" *ngIf="authService.userData as user">
  <h1 class="d-flex justify-content-center" mat-dialog-title>Create a new Event</h1>
  <form #myForm="ngForm" action="" class="mt-2rem">
    <div class="row row-lines">
      <div class="col-md-auto">
        <mat-form-field class="my-1" appearance="outline">
          <mat-label>Title</mat-label>
          <input type="text" name="title" [(ngModel)]="calendarEvent.title" matInput placeholder="Enter a Title"
            required pattern="[a-zA-Z0-9-.,+?! \-_.\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF]*">
          <mat-error *ngIf="titleFormControl.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-auto">
        <mat-form-field class="my-1" appearance="outline">
          <mat-label>Start date</mat-label>
          <input name="startDate" [(ngModel)]="startDate" matInput placeholder="dd/mm/yyyy" [matDatepicker]="picker1"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="startDateFormControl.hasError('required')">
            Start date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-auto">
        <mat-form-field class="my-1" appearance="outline">
          <mat-label>End date</mat-label>
          <input name="endDate" [(ngModel)]="endDate" matInput placeholder="dd/mm/yyyy" [matDatepicker]="picker2"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="endDateFormControl.hasError('required')">
            End date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-auto">
        <mat-form-field class="my-1" appearance="outline">
          <mat-label>Categorie</mat-label>
          <mat-select name="categorie" [(ngModel)]="calendarEvent.color" required>
            <mat-option value="Vacation">Vacation</mat-option>
            <mat-option value="Meeting">Meeting</mat-option>
            <mat-option value="SickLeave">Sick leave</mat-option>
          </mat-select>
          <mat-error *ngIf="selectFormControl.hasError('required')">
            Categorie is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="border"></div>
    <div class="mt-4 d-flex justify-content-end">
      <button [mat-dialog-close]="true" matTooltip="Create Calendar Event" [disabled]="!myForm.valid"
        (click)="firebaseService.saveCalendarEvent(this.calendarEvent, this.startDate, user.displayName, this.endDate)"
        type="submit" mat-flat-button color="primary">Add Event</button>
    </div>
  </form>
</div>
